@import '../../style/index.scss';
@import '../UI/ui.scss';

.tasks {
    position: relative;
    width: 100%;
    max-width: 428px;

    @include ipad {
        margin-left: 60px;
    }

    @include mobile {
        margin-top: 40px;
    }

    &-header {
        position: absolute;
        top: -45px;

        @include mobile {
            position: static;
        }

        h2 {
            font-size: 32px;
            font-weight: 700;

            @include mobile {
                font-size: 24px;
            }
        }
    }

    &-body {
        height: 754px;
        height: calc(754px - 80px);
        overflow-y: auto;
        overflow-x: hidden;

        @include mobile {
            height: auto;
            height: calc(360px - 50px);
            overflow-y: auto
        }
    }
    &-footer {
        margin-top: 32px;
    }
}

.task {
    @include flex-container(flex, center, space-between);
    width: 428px;
    height: 51px;
    background-color: $primary;
    padding: 16px 8.25px 16px 24px;
    margin-bottom: 16px;
    border-radius: 8px;

    @include ipad {
        width: 100%;
    }

    @include mobile {
        width: 100%;
    }

    h6 {
        font-size: 16px;
        font-weight: 700;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 15px;
    }

    .complete {
        line-height: 10px;
        background-color: transparent;

        svg {
            width: 24.75px;
        }
    }

    &:hover {
        cursor: pointer;
    }

    .complete {
        svg {
            &:hover {
                cursor: pointer;
                transition: 0.2s ease-in;

                rect {
                    fill: $secondary;
                }

                path {
                    fill: $tertiary;
                }
            }
        }
    }
}

.completed {
    background-color: transparent;
    border: 1px solid $primary;

    .complete {
        svg {
            rect {
                fill: $secondary;
            }
        }
    }
}

.task-details {

    &-header {
        @include flex-container(flex, center, space-between);
        margin-bottom: 15px;

        h6 {
            font-size: 12px;
            font-weight: 400;
            color: $secondary;
        }

        .button-group {
            @include flex-container(flex, center, center);

            button {
                &:first-child {
                    line-height: 10px;
                    margin-right: 8px;

                    &:hover {
                        cursor: pointer;
                        transform: 0.2 ease;
                        opacity: 0.86;
                    }
                }

                &:last-child {
                    position: relative;
                    width: 87.75px;
                    height: 24px;
                    border: 1px solid $secondary;
                    border-radius: 8px;
                    font-size: 11.7px;
                    font-weight: 700;
                    color: #fff;
                    padding-left: 17px;

                    svg {
                        position: absolute;
                        top: 50%;
                        left: 12.5px;
                        transform: translate(-50%, -50%);
                    }

                    &:hover {
                        cursor: pointer;
                        transform: 0.2 ease;
                        opacity: 0.86;
                    }
                }

                &:disabled {
                    pointer-events: none;
                    background-color: red;
                    border: 1px solid red;
                    opacity: 0.2;
                }
            }
        }
    }

    &-body {
        input {
            width: 100%;
            background-color: transparent;
            font-size: 24px;
            font-weight: 700;
            color: $tertiary;
            margin-bottom: 27px;
            padding-left: 0;
        }

        label {
            font-size: 12px;
            color: $tertiary;
        }

        textarea {
            width: 100%;
            height: 423px;
            padding: 18px;
            background-color: #161616;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.36px;
            color: $tertiary;
            margin-top: 10px;
            border-radius: 8px;

            @media (min-width: 1200px) and (min-height: 500px) and (max-height: 799px) {
                height: 300px;
            }
            @include mobile {
                height: 260px;
            }
        }

        .save-button {
            display: block;
            width: 100%;
            height: 35px;
            background-color: $secondary;
            border-radius: 8px;
            margin-top: 16px;
            font-size: 16px;
            font-weight: 700;
            color: $tertiary;

            &:hover {
                cursor: pointer;
                transition: 0.2s ease;
                opacity: 0.91;
            }
        }
    }
}

.confirmation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    background-color: $primary;
    padding: 26px 18px;
    border-radius: 8px;
    text-align: center;

    p {
        font-size: 15px;
        margin-bottom: 15px;
    }

    .button-group {
        button {
            width: 112px;
            height: 24px;
            border-radius: 8px;
            color: $tertiary;
            font-size: 700;
            font-size: 13px;

            &:first-child {
                background-color: red;
            }

            &:last-child {
                margin-left: 15px;
                background-color: #161616;
            }

            &:hover {
                opacity: 0.86;
                transition: 0.2s ease-in;
                cursor: pointer;
            }
        }
    }
}

.tasks-body::-webkit-scrollbar {
    width: 3px;
    border-radius: 8px;
}

.tasks-body::-webkit-scrollbar-track {
    background: $tertiary;
}

.tasks-body::-webkit-scrollbar-thumb {
    background: $secondary;
    border-radius: 8px;
}

.tasks-body::-webkit-scrollbar-thumb:hover {
    opacity: 0.86;
    transition: 0.2s ease-in;
}