@import '../../style/index.scss';

.groups {
    position: absolute;
    left: 10%;
    @include flex-container(flex, flex-start, space-between);
    flex-direction: column;
    max-width: 214px;
    width: 100%;
    height: 654px;
    background-color: $primary;
    padding: 16px 0;
    border-radius: 8px;

    &-header {
        padding: 0 24px;

        h2 {
            font-size: 24px;
            font-weight: 700;
        }
    }

    &-body {
        width: 100%;
        height: 80%;
        max-height: calc(100% - 20px);
        overflow-y: auto;
        padding: 0 24px;

        .group {
            margin-bottom: 14px;

            h6 {
                font-size: 16px;
                font-weight: 400;

                &:hover {
                    cursor: pointer;
                    color: $secondary;
                    transition: 0.12s ease;
                }
            }
        }
    }

    &-footer {
        padding: 0 8px;
    }
}

.add-group-input {
    position: relative;

    input {
        width: 100%;
        height: 47px;
        background-color: #161616;
        border-radius: 8px;
        padding: 0 10px;
        color: $tertiary;

        &::placeholder {
            color: $tertiary;
        }
    }

    button {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translate(5px, -50%);
        line-height: 5px;

        svg {
            width: 100%;
            height: 100%;
        }

        &:hover {
            cursor: pointer;

            svg {
                opacity: 0.89;
                transition: 0.12s ease;
            }
        }
    }
}


.groups-body::-webkit-scrollbar {
    width: 3px;
    border-radius: 8px;
    /* Width of the scrollbar */
}

/* Track */
.groups-body::-webkit-scrollbar-track {
    background: $tertiary;
    
    /* Color of the track */
}

/* Handle */
.groups-body::-webkit-scrollbar-thumb {
    background: $secondary;
    /* Color of the scrollbar handle */
    border-radius: 8px;
    /* Rounded corners */
}

/* Handle on hover */
.groups-body::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Color of the scrollbar handle on hover */
}